body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

.nav-logo {
	float: left;
	list-style: none;
	margin-left: 110px;

}

nav {
	background-color: white;
	position: fixed;
	height: 70px;
	width: 100%;
}

.right-nav {
	position: sticky;
	left: 50px;
	top: -10px;
	float: left;
	list-style: none;

}


.nav {
	display: inline-table;
	padding: 10px;
	margin-left: 30px;

*/}

.tuitt-button {
	border-radius: 20px;
	border-style: none;
	background-color: #c2195b;
	color: white;
	height: 30px;
	width: 100px;
	margin-top: -15px;
	box-shadow: 1px 1px dimgray;
}

.front-bg {
 	min-height: 100vh;
	background-size: 50%;
	padding: 2rem 6rem;
	background-color: white;
}

#bg-image {
	padding: 10px;
}

.container {
	min-height: 50vh;
	min-width: 120vh;
	background-size: 100%;
	background-image: url(zuitt.png);
	background-repeat: no-repeat;
}

.title {
	color: white;
	font-size: 30px;
	text-align: right;
	padding-top: 40px;
	padding-left: 600px;
	padding-right: 90px;
	overflow-wrap: break-word;
font-family: Zilla Slab;

}

.subtitle {
	color: white;
	font-size: 15px;
	text-align: right;
	padding-top: 10px;
	padding-left: 700px;
	padding-right: 90px;
	overflow-wrap: break-word;
	font-style: normal;
}

.apply-button {
	border-radius: 20px;
	border-style: none;
	background-color: #c2195b;
	color: white;
	height: 30px;
	width: 120px;
	box-shadow: 1px 1px dimgray;
	margin-left: 927px;

}

.title-2 {
	text-align: center;
	margin-top: -230px;
	font-family: Zilla Slab;
}

.intro-description {
		text-align: justify;
		overflow-wrap: break-word;
		padding-left: 200px;
		padding-right: 200px;
		font-size: 15px;
}

.title-3 {
	text-align: center;
	margin-top: 50px;
	font-family: Zilla Slab;
	padding-top: 50px;
}

.prefooter-description{
		text-align: center;
		overflow-wrap: break-word;
		padding-left: 50px;
		padding-right: 50px;
		font-size: 15px;
	}

	.book-button {
		border-radius: 20px;
		border-style: none;
		background-color: #336589;
		color: white;
		height: 30px;
		width: 90px;
		margin-left: 360px;
		margin-top: 10px;
	}

.pre-footer {
	background-color: #f7fbfb;
	min-height: 250px;
	max-width: 800px;
	margin: auto;
}

	footer {
		text-align: center;
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 20px;
	}